[Unit]
Description=Run Falcon ACC telemetry collector every 5s

[Timer]
OnBootSec=10s
OnUnitActiveSec=5s
AccuracySec=1s

[Install]
WantedBy=timers.target
