[Unit]
Description=Run mmgt NIC collector every five seconds

[Timer]
OnBootSec=10s
OnUnitActiveSec=5s
AccuracySec=1s

[Install]
WantedBy=timers.target
